.customBg {
    background-color: #005AAB;
}

.customColor {
    color: #005AAB;
}

.customBg2 {
    background-color: #F36F21;
}

.customColor2 {
    color: #F36F21;
}

.mySup {
    color: red;
    font-weight: bold;
}

.menu-title {
    color: #fff;
}


/* Menu styles */

.menu-item {
    color: #fff;
}

div.menu-item,
div.menu-item>span {
    color: #fff;
}